@charset "utf-8";
@media screen and (min-width: 64em) {

h5 {
	color:green;
}

h4 {
	color:blue;
}

strong {
	color:red;
}

body {
	width: 100%;
	min-width:1100px;
	max-width:1500px;
	padding: 2em;
	margin: 0 auto;
	font-size: 20px;

}
}

@media screen and (max-width: 64em) {

h5 {
	color:red;
}

h4 {
	color:blue;
}

strong {
	color:green;
}

body {
	width: 80%;
	min-width: 700px;
	max-width: 1000px;
	padding: 2em;
	margin: 0 auto;
	font-size: 15px;

}
}

@media screen and (max-width: 37.5em) {

h5 {
	color:blue;
}

h4 {
	color:red;
}

strong {
	color:green;
}

body {
	width: 100%;
	min-width: 400px;
	max-width: 700px;
	padding: 1em;
	margin: 0 auto;
	font-size: 12px;

}
}
