@charset "utf-8";
@media screen and (min-width: 64em) {

#wrapper {
	width: 80%;
	min-width:1100px;
	max-width:1500px;
	padding: 3em;
	margin: 0 auto;
}

#header {
	height: 130px;
	font-size: 70px;
}

#git {
	height: 150px;
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 30px;
}

#media {
	height: 150px;
	font-size: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#resume {
	height: 150px;
	font-size: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#flexbox {
	height: 150px;
	font-size: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#bootstrap {
	height: 150px;
	font-size: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#ionic {
	height: 150px;
	font-size: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#industry {
	height: 150px;
	font-size: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
}
}


@media screen and (max-width: 64em) {

#wrapper {
	width: 80%;
	min-width: 700px;
	max-width: 1000px;
	padding: 3em;
	margin: 0 auto;
}

#header {
	height: 70px;
	font-size: 50px;
}

#git {
	height: 150px;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 30px;
}

#media {
	height: 150px;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#resume {
	height: 150px;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#flexbox {
	height: 150px;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#bootstrap {
	height: 150px;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#ionic {
	height: 150px;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#industry {
	height: 150px;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}
}


@media screen and (max-width: 37.5em) {

#wrapper {
	width: 80%;
	min-width: 400px;
	max-width: 700px;
	padding: 2em;
	margin: 0 auto;
}

#header {
	height: 70px;
	font-size: 30px;
}

#git {
	height: 150px;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 30px;
}

#media {
	height: 150px;
	font-size: 12px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#resume {
	height: 150px;
	font-size: 12px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#flexbox {
	height: 150px;
	font-size: 12px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#bootstrap {
	height: 150px;
	font-size: 12px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#ionic {
	height: 150px;
	font-size: 12px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#industry {
	height: 150px;
	font-size: 12px;
	padding-top: 30px;
	padding-bottom: 30px;
}
}